@article{
    abstract = {{ '{' }}{{ abstract }}{{ '}' }},
    author = {{ '{' }}{{ author }}{{ '}' }},
    doi = {{ '{' }}{{ doi }}{{ '}' }},
    file = {{ '{' }}{{ file }}{{ '}' }},
    isbn = {{ '{' }}{{ isbn }}{{ '}' }},
    journal = {{ '{' }}{{ journal }}{{ '}' }},
    keywords = {{ '{' }}{{ keywords }}{{ '}' }},
    pages = {{ '{' }}{{ pages }}{{ '}' }},
    title = {{ '{' }}{{ title }}{{ '}' }},
    year = {{ '{' }}{{ year }}{{ '}' }},
}